.p-tb-50px {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.pt-50px {
    padding-top: 50px !important;
}

.pb-50px {
    padding-bottom: 50px !important;
}

.m-tb-50px {
    margin-top: 50px;
    margin-bottom: 50px
}